name: "Release MATFrost MEX binary."

on:
  workflow_dispatch:
    inputs:
      matfrost-mex-version:
        required: true
        description: "MATFrost MEX version"
        default: 0.0.0
jobs:
  build-mex-binary:
    strategy:
      matrix:
        matlab-version: ['2021b']
    runs-on: windows-latest
    name: windows
    steps:
      - name: Checkout code
        uses: actions/checkout@v4 
      - uses: msys2/setup-msys2@v2
        id: msys2
        with:
          msystem: UCRT64         
          update: true
          install: mingw-w64-ucrt-x86_64-gcc mingw-w64-ucrt-x86_64-toolchain               
      - name: Set up MATLAB on Windows
        uses: matlab-actions/setup-matlab@v2        
        with:
          release: R2021b
      - name: Compile MEX binary
        uses: matlab-actions/run-command@v2
        env:
          MW_MINGW64_LOC: ${{ steps.msys2.outputs.msys2-location }}\ucrt64
        with:
          command: addpath(genpath("src")) ; matfrostmake()
      - name: Upload artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with: 
          path: src/matfrostjuliacall/bin
          name: matfrost-mex-win-x64

  release-mex-binary:
    needs: build-mex-binary
    runs-on: ubuntu-latest
    name: Release-MEX-Binary
    steps:
      - name: Checkout code
        uses: actions/checkout@v4         
      - name: Download MEX artifacts
        uses: actions/download-artifact@v4
        with: 
          path: mexbinwin
          merge-multiple: true
      - name: Display structure of downloade MEX binaries.
        run: ls -R mexbinwin
      - name: Release MEX binaries
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd mexbinwin 
          tar -czvf ../matfrost-mex-v${{ inputs.matfrost-mex-version }}-win-x64.tar.gz *
          cd ..
          gh release create matfrost-mex-v${{ inputs.matfrost-mex-version }} --latest=false matfrost-mex-v${{ inputs.matfrost-mex-version }}-win-x64.tar.gz
          sleep 10s
      
      - uses: julia-actions/install-juliaup@v2
        with:
          channel: '1.12'
      
      - name: Integrate released Artifact in MATFrost package.
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          julia --project="." "src/matfrostjuliacall/integrate_released_mexbinaries.jl" "${{ inputs.matfrost-mex-version }}"
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add Artifacts.toml
          git commit -m "Integrate MATFrost MEX: ${{ inputs.matfrost-mex-version }}"
          git push
