name: "Reusable workflow for running tests" 

on:
  workflow_call:
    inputs:
      os:
        required: true
        description: "Operating system"
        default: "windows-latest"
        type: string
      matlab-version:
        required: true
        description: "MATLAB version"
        default: "R2022b"
        type: string
      julia-version:
        required: false
        description: "Julia version to test"
        default: "1.12"
        type: string
      mex-recompile:
        required: true
        description: "Recompile MEX binary"
        type: boolean
        default: true

permissions:
  actions: write
  contents: read

jobs:
  test:
    runs-on:  ${{ inputs.os }}
    name: ${{ inputs.os }}-${{ inputs.matlab-version }}-julia-${{ inputs.julia-version }}-recompile-${{ inputs.mex-recompile }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Juliaup
        uses: julia-actions/install-juliaup@v2
        with:
          channel: ${{ inputs.julia-version }}

      - uses: julia-actions/cache@v2
        with:
          cache-name: julia-cache;version=${{ inputs.julia-version }}
          include-matrix: false
      - uses: julia-actions/julia-buildpkg@v1

      - name: Test Julia
        uses: julia-actions/julia-runtest@v1
          
      - name: Determine MATLAB product
        id: matlab-product
        shell: bash
        run: |
          version="${{ inputs.matlab-version }}"
          year=$(echo "$version" | sed 's/R\([0-9]\{4\}\)[ab]/\1/')
          if [ "$year" -gt 2023 ]; then
            echo "product=MATLAB_Support_for_MinGW-w64_C/C++/Fortran_Compiler" >> $GITHUB_OUTPUT
          else
            echo "product=MATLAB_Support_for_MinGW-w64_C/C++_Compiler" >> $GITHUB_OUTPUT
          fi

      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v2
        with:
          release: ${{ inputs.matlab-version }}
          products: ${{ steps.matlab-product.outputs.product }}
          cache: true

      - name: Configure precompiled MEX-artifacts
        if: ${{ !inputs.mex-recompile }}
        run: |
          julia --project="." -e "import Pkg ; Pkg.instantiate() ; using MATFrost ; foreach(fp -> cp(joinpath(MATFrost.mexbinaryartifact(), fp), joinpath(ARGS[1], fp)), readdir(MATFrost.mexbinaryartifact()) )" "src/matlab/private"
       
      - name: Build MATFrost MEX
        uses: matlab-actions/run-command@v2
        if: ${{ inputs.mex-recompile && startsWith(inputs.os , 'windows')}}
        env:
          MW_MINGW64_LOC: ${{ steps.msys2.outputs.msys2-location }}\ucrt64
        with:
          command: addpath(genpath("src")) ; matfrostmake() ;
        
      - name: Run tests
        uses: matlab-actions/run-tests@v2
        env:
          JULIA_VERSIONS: ${{ inputs.julia-version }}
        with:
          source-folder: 'src/matlab'
          select-by-folder: 'test'
          strict: false
          test-results-junit: test-results/results.xml
          code-coverage-cobertura: test-results/coverage.xml

      - name: Upload artifacts
        if: always()
        uses: actions/upload-artifact@v6
        with: 
          path: test-results
          name: results-${{ inputs.os }}-${{ inputs.matlab-version }}-${{ inputs.julia-version }}
