name: Run Tests Automation

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - 'test/**'
      - 'Project.toml'
      - '.github/workflows/run-tests.yml'
      - '.github/workflows/run-tests-reusable.yml'
  pull_request:
    branches:
      - main
    types: 
      - opened
      - reopened
      - synchronize
      - ready_for_review
    paths:
      - 'src/**'
      - 'test/**'
      - 'Project.toml'
      - '.github/workflows/run-tests.yml'
      - '.github/workflows/run-tests-reusable.yml'

jobs:
  tests:
    uses: ./.github/workflows/run-tests-reusable.yml    
    if: ${{ ((github.event_name == 'pull_request') && !github.event.pull_request.draft) || (github.event_name == 'push') || (github.event_name == 'workflow_dispatch') }}
    secrets: inherit
    strategy:
      fail-fast: false
      matrix:
        matlab-version: ['R2021b', 'R2022b', 'R2024b', 'R2025a']
        os: ['windows-latest']
    with:
      os: ${{ matrix.os }}
      matlab-version: ${{ matrix.matlab-version }}
      mex-recompile: true
