name: "Dispatch tests with inputs"

on:
  workflow_dispatch:
    inputs:
      os:
        required: true
        description: "Operating system"
        type: choice
        options:
          - 'windows-latest'
          - 'ubuntu-latest'
      matlab-version:
        required: true
        description: "MATLAB version"
        type: choice
        options:
          - 'R2021b'
          - 'R2022a'
          - 'R2022b'
          - 'R2023a'
          - 'R2023b'
          - 'R2024a'
          - 'R2024b'
          - 'R2025a'
          - 'R2025b'
      julia-version:
        required: false
        description: "Julia version to test"
        default: "1.12"
    
      mex-recompile:
        required: true
        description: "Recompile MEX binary"
        type: boolean
jobs:
  test:
    uses: ./.github/workflows/run-tests-reusable.yml
    secrets: inherit
    with:
      os: ${{ inputs.os }}
      matlab-version: ${{ inputs.matlab-version }}
      julia-version: ${{ inputs.julia-version }}
      mex-recompile: ${{ inputs.mex-recompile }}

